/** NAVBAR **/

/*.navbar-brand{*/
    /*padding: 0px;*/
/*}*/

/*.navbar-brand>img{*/
    /*height:100%;*/
    /*padding: 15px;*/
    /*width: auto;*/
/*}*/

body {
    background-color: rgb(230, 237, 240);
}

.quitarPadding {
    padding-left: 15px;
    padding-right: 15px;
}