<div class="container-fluid">
    <div class="col-md-12  container-fluid" ng-repeat="u in users">
        <div class="row quitarPadding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row quitarPadding">
                        <h3>{{u.email}}</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-2">
                        <img class="img-responsive" src="images/profile.svg" width="50" height="50">
                    </div>
                    <div class="col-md-2">
                        <p>Nombre: {{u.nombre}}</p>
                        <p>Apellidos: {{u.apellidos}}</p>
                    </div>
                    <div class="col-md-2">
                        <span class="btn btn-warning btn-xs glyphicon glyphicon-edit text-center" aria-hidden="true" ng-click="edit(u.email)"></span>
                        <span class="btn btn-info btn-xs glyphicon glyphicon-stats text-center" aria-hidden="true" ng-click="info(u.email)"></span>
                        <span class="btn btn-danger btn-xs glyphicon glyphicon-trash text-center" aria-hidden="true" ng-click="delete(u.email)"></span>
                    </div>
                </div><!--/panel-body-->
            </div><!--/panel-->
        </div>
    </div>
</div>