<div class="container-fluid">
    <div class="col-md-4 col-sm-4 container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Cuentas
                        <form method="post" class="pull-right" action="/auth/twitter">
                            <input type="hidden" name="user"  value="{{user}}">
                            <button type="submit" class="btn btn-primary">Login with Twitter</button>
                        </form>
                    </h4>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>
                            Screen Name
                        </th>
                        <th>
                            Información
                        </th>
                        <th>
                            Borrar
                        </th>
                    </tr>
                    <tr ng-repeat="c in cuentas">
                        <td ng-click="tweets(c)" style="cursor: pointer">{{c.cuenta}}</td>
                        <td ng-click="tweets(c)" style="cursor: pointer">{{c.info}}</td>
                        <td ng-click="borrarCuenta(c)" style="cursor: help"  ng-confirm-click="Está seguro de borrar la cuenta de twitter de {{c.cuenta}}?">
                            <span class="glyphicon glyphicon-trash text-center"   aria-hidden="true"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Acorta URLs
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <input type="text" maxlength="80" ng-model="url" class="col-sm-10 col-md-offset-1" placeholder="http://..."></input>
                    </div>
                    <div class="row">
                        </br>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="singlebutton">Enlace: {{shortUrl}}</label>
                        <div>
                            <button id="singlebutton" type="button"class="btn btn-primary col-md-offset-8" ng-click="short(url);">Short!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-show="mostarTimelines" class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Escribe tus tweets
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <textarea maxlength="140" ng-model="textoTweet" class="col-sm-10 col-md-offset-1" placeholder="Escribe aquí..."></textarea>
                    </div>
                    <div class="row">
                        </br>
                    </div>
                    <div class="row">
                        <button type="button"class="btn btn-primary col-md-offset-8" ng-click="tweeetear(textoTweet);">Tweet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 container-fluid" ng-show="mostarTimelines">
        <div class="row quitarPadding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Información cuenta seleccionada
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h2>{{infoCuenta.screen_name}}</h2>
                            <p><strong>Descripción: </strong> {{infoCuenta.description}}</p>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-24 col-sm-12 text-center">
                                    <img ng-src="{{infoCuenta.profile_image_url}}"  alt="" class="center-block img-circle img-responsive">
                                </div><!--/col-->
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong> {{infoCuenta.followers_count}}</strong></h2>
                                    <p><small>Followers</small></p>
                                </div><!--/col-->
                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong>{{infoCuenta.friends_count}}</strong></h2>
                                    <p><small>Following</small></p>
                                </div><!--/col-->
                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong>{{infoCuenta.statuses_count}}</strong></h2>
                                    <p><small>Tweets</small></p>
                                </div><!--/col-->
                            </div>
                        </div>
                    </div><!--/row-->
                </div><!--/panel-body-->
            </div><!--/panel-->
        </div>
        <div class="row quitarPadding">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="tab in tabs"
                            ng-class="{active:isActiveTab(tab.url)}"
                            ng-click="onClickTab(tab)"><a data-toggle="tab">{{tab.title}}</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div ng-include="currentTab"></div>
                        <script type="text/ng-template" id="home">
                            <section class="comment-list">
                                <!-- First Comment -->
                                <article class="row" ng-repeat="tw in tuitasHome">
                                    <div class="col-md-3 col-sm-3 hidden-xs">
                                        <figure class="thumbnail">
                                            <img ng-src="{{tw.user.profile_image_url}}" class="img-responsive">
                                            <!--<figcaption class="text-center">{{tw.user.screen_name}}</figcaption>-->
                                        </figure>
                                    </div>
                                    <div class="col-md-9 col-sm-9d">
                                        <div class="panel panel-default arrow left">
                                            <div class="panel-body">
                                                <header class="text-left">
                                                    <div class="comment-user"><i class="fa fa-user"></i> <strong>{{tw.user.name}}</strong> @{{tw.user.screen_name}}</div>
                                                </header>
                                                </br>
                                                <div class="comment-post">
                                                    <p ng-bind-html="tw.text | convertState"></p>
                                                    <!--<p>-->
                                                        <!--{{getText(tw.text)}}-->
                                                    <!--</p>-->
                                                    <p>
                                                        <!--{{tw.extended_entities.media[0].type}}-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--{{tw.extended_entities.media[0].url}}-->
                                                        <img ng-src="{{tw.extended_entities.media[0].media_url}}" class="col-sm-10 col-md-offset-2">
                                                        <!--<video ng-if="tw.extended_entities.media[0].type == 'video'" width="320" height="240" controls>-->
                                                            <!--<source src="movie.mp4" type="video/mp4">-->
                                                            <!--<source src="movie.ogg" type="video/ogg">-->
                                                            <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--</video>-->
                                                        <!--<iframe ng-if="tw.extended_entities.media[0].type == 'video'" width="420" height="315"-->
                                                                <!--ng-src="/">-->
                                                        <!--</iframe>-->
                                                    </p>
                                                </div>
                                                <p class="text-right">
                                                    <!--<a class="btn btn-default btn-sm" href="#">-->
                                                        <!--<i class="fa fa-reply">-->
                                                        <!--</i> reply-->
                                                    <!--</a>-->
                                                    <time datetime="16-12-2014 01:05" class="comment-date"><i class="fa fa-clock-o"></i> {{tw.created_at}}</time>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                            <!--<p ng-repeat="tw in tuitasHome">-->
                                <!--{{tw.text}}-->
                            <!--</p>-->
                        </script>

                        <script type="text/ng-template" id="user">
                            <section class="comment-list">
                                <!-- First Comment -->
                                <article class="row" ng-repeat="tw in tuitasUser">
                                    <div class="col-md-3 col-sm-3 hidden-xs">
                                        <figure class="thumbnail">
                                            <img ng-src="{{tw.user.profile_image_url}}" class="img-responsive">
                                            <!--<figcaption class="text-center">{{tw.user.screen_name}}</figcaption>-->
                                        </figure>
                                    </div>
                                    <div class="col-md-9 col-sm-9d">
                                        <div class="panel panel-default arrow left">
                                            <div class="panel-body">
                                                <header class="text-left">
                                                    <div class="comment-user"><i class="fa fa-user"></i> <strong>{{tw.user.name}}</strong> @{{tw.user.screen_name}}</div>
                                                </header>
                                                </br>
                                                <div class="comment-post">
                                                    <p ng-bind-html="tw.text | convertState"></p>
                                                    <!--<p>-->
                                                    <!--{{getText(tw.text)}}-->
                                                    <!--</p>-->
                                                    <p>
                                                        <!--{{tw.extended_entities.media[0].type}}-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--{{tw.extended_entities.media[0].url}}-->
                                                        <img ng-src="{{tw.extended_entities.media[0].media_url}}" class="col-sm-10 col-md-offset-2">
                                                        <!--<video ng-if="tw.extended_entities.media[0].type == 'video'" width="320" height="240" controls>-->
                                                        <!--<source src="movie.mp4" type="video/mp4">-->
                                                        <!--<source src="movie.ogg" type="video/ogg">-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--</video>-->
                                                        <!--<iframe ng-if="tw.extended_entities.media[0].type == 'video'" width="420" height="315"-->
                                                        <!--ng-src="/">-->
                                                        <!--</iframe>-->
                                                    </p>
                                                </div>
                                                <p class="text-right">
                                                    <!--<a class="btn btn-default btn-sm" href="#">-->
                                                    <!--<i class="fa fa-reply">-->
                                                    <!--</i> reply-->
                                                    <!--</a>-->
                                                    <time datetime="16-12-2014 01:05" class="comment-date"><i class="fa fa-clock-o"></i> {{tw.created_at}}</time>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </script>
                        <script type="text/ng-template" id="mentions">
                            <section class="comment-list">
                                <!-- First Comment -->
                                <article class="row" ng-repeat="tw in tuitasMention">
                                    <div class="col-md-3 col-sm-3 hidden-xs">
                                        <figure class="thumbnail">
                                            <img ng-src="{{tw.user.profile_image_url}}" class="img-responsive">
                                            <!--<figcaption class="text-center">{{tw.user.screen_name}}</figcaption>-->
                                        </figure>
                                    </div>
                                    <div class="col-md-9 col-sm-9d">
                                        <div class="panel panel-default arrow left">
                                            <div class="panel-body">
                                                <header class="text-left">
                                                    <div class="comment-user"><i class="fa fa-user"></i> <strong>{{tw.user.name}}</strong> @{{tw.user.screen_name}}</div>
                                                </header>
                                                </br>
                                                <div class="comment-post">
                                                    <p ng-bind-html="tw.text | convertState"></p>
                                                    <!--<p>-->
                                                    <!--{{getText(tw.text)}}-->
                                                    <!--</p>-->
                                                    <p>
                                                        <!--{{tw.extended_entities.media[0].type}}-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--{{tw.extended_entities.media[0].url}}-->
                                                        <img ng-src="{{tw.extended_entities.media[0].media_url}}" class="col-sm-10 col-md-offset-2">
                                                        <!--<video ng-if="tw.extended_entities.media[0].type == 'video'" width="320" height="240" controls>-->
                                                        <!--<source src="movie.mp4" type="video/mp4">-->
                                                        <!--<source src="movie.ogg" type="video/ogg">-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--</video>-->
                                                        <!--<iframe ng-if="tw.extended_entities.media[0].type == 'video'" width="420" height="315"-->
                                                        <!--ng-src="/">-->
                                                        <!--</iframe>-->
                                                    </p>
                                                </div>
                                                <p class="text-right">
                                                    <!--<a class="btn btn-default btn-sm" href="#">-->
                                                    <!--<i class="fa fa-reply">-->
                                                    <!--</i> reply-->
                                                    <!--</a>-->
                                                    <time datetime="16-12-2014 01:05" class="comment-date"><i class="fa fa-clock-o"></i> {{tw.created_at}}</time>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </script>
                        <script type="text/ng-template" id="favorites">
                            <section class="comment-list">
                                <!-- First Comment -->
                                <article class="row" ng-repeat="tw in tuitasFavorites">
                                    <div class="col-md-3 col-sm-3 hidden-xs">
                                        <figure class="thumbnail">
                                            <img ng-src="{{tw.user.profile_image_url}}" class="img-responsive">
                                            <!--<figcaption class="text-center">{{tw.user.screen_name}}</figcaption>-->
                                        </figure>
                                    </div>
                                    <div class="col-md-9 col-sm-9d">
                                        <div class="panel panel-default arrow left">
                                            <div class="panel-body">
                                                <header class="text-left">
                                                    <div class="comment-user"><i class="fa fa-user"></i> <strong>{{tw.user.name}}</strong> @{{tw.user.screen_name}}</div>
                                                </header>
                                                </br>
                                                <div class="comment-post">
                                                    <p ng-bind-html="tw.text | convertState"></p>
                                                    <!--<p>-->
                                                    <!--{{getText(tw.text)}}-->
                                                    <!--</p>-->
                                                    <p>
                                                        <!--{{tw.extended_entities.media[0].type}}-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--{{tw.extended_entities.media[0].url}}-->
                                                        <img ng-src="{{tw.extended_entities.media[0].media_url}}" class="col-sm-10 col-md-offset-2">
                                                        <!--<video ng-if="tw.extended_entities.media[0].type == 'video'" width="320" height="240" controls>-->
                                                        <!--<source src="movie.mp4" type="video/mp4">-->
                                                        <!--<source src="movie.ogg" type="video/ogg">-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--</video>-->
                                                        <!--<iframe ng-if="tw.extended_entities.media[0].type == 'video'" width="420" height="315"-->
                                                        <!--ng-src="/">-->
                                                        <!--</iframe>-->
                                                    </p>
                                                </div>
                                                <p class="text-right">
                                                    <!--<a class="btn btn-default btn-sm" href="#">-->
                                                    <!--<i class="fa fa-reply">-->
                                                    <!--</i> reply-->
                                                    <!--</a>-->
                                                    <time datetime="16-12-2014 01:05" class="comment-date"><i class="fa fa-clock-o"></i> {{tw.created_at}}</time>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </script>
                        <script type="text/ng-template" id="retweets">
                            <section class="comment-list">
                                <!-- First Comment -->
                                <article class="row" ng-repeat="tw in tuitasRetweets">
                                    <div class="col-md-3 col-sm-3 hidden-xs">
                                        <figure class="thumbnail">
                                            <img ng-src="{{tw.user.profile_image_url}}" class="img-responsive">
                                            <!--<figcaption class="text-center">{{tw.user.screen_name}}</figcaption>-->
                                        </figure>
                                    </div>
                                    <div class="col-md-9 col-sm-9d">
                                        <div class="panel panel-default arrow left">
                                            <div class="panel-body">
                                                <header class="text-left">
                                                    <div class="comment-user"><i class="fa fa-user"></i> <strong>{{tw.user.name}}</strong> @{{tw.user.screen_name}}</div>
                                                </header>
                                                </br>
                                                <div class="comment-post">
                                                    <p ng-bind-html="tw.text | convertState"></p>
                                                    <!--<p>-->
                                                    <!--{{getText(tw.text)}}-->
                                                    <!--</p>-->
                                                    <p>
                                                        <!--{{tw.extended_entities.media[0].type}}-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--{{tw.extended_entities.media[0].url}}-->
                                                        <img ng-src="{{tw.extended_entities.media[0].media_url}}" class="col-sm-10 col-md-offset-2">
                                                        <!--<video ng-if="tw.extended_entities.media[0].type == 'video'" width="320" height="240" controls>-->
                                                        <!--<source src="movie.mp4" type="video/mp4">-->
                                                        <!--<source src="movie.ogg" type="video/ogg">-->
                                                        <!--{{tw.extended_entities.media[0].video_info.variants[0].url}}-->
                                                        <!--</video>-->
                                                        <!--<iframe ng-if="tw.extended_entities.media[0].type == 'video'" width="420" height="315"-->
                                                        <!--ng-src="/">-->
                                                        <!--</iframe>-->
                                                    </p>
                                                </div>
                                                <p class="text-right">
                                                    <!--<a class="btn btn-default btn-sm" href="#">-->
                                                    <!--<i class="fa fa-reply">-->
                                                    <!--</i> reply-->
                                                    <!--</a>-->
                                                    <time datetime="16-12-2014 01:05" class="comment-date"><i class="fa fa-clock-o"></i> {{tw.created_at}}</time>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>