<div class="container-fluid">
    <div class="col-md-3 col-sm-3 col-md-offset-1 container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Sidebar</h4>
                </div>
                <table class="table table-hover">
                    <tr>
                        <td>Perfil</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="btn btn-danger" aria-hidden="true">Borrar cuenta</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-7 container-fluid">
        <div class="row quitarPadding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Información perfil
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                                <div>
                                    <p><strong>Nombre: </strong><a href="#" editable-text="user.nombre">{{user.nombre}}</a></p>
                                    <p><strong>Apellidos: </strong><a href="#" editable-text="user.apellidos">{{user.apellidos}}</a></p>
                                </div>
                            <p><strong>Email: </strong> {{user.email}}</p>
                            <div class="form-group">
                                <button type="button" ng-click="modificarDatos(user)" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">

                            <div ng-class="{'has-error has-feedback': error.noCoincide == 1, 'has-success has-feedback' : error.noCoincide == 0}"
                                    class="form-group">
                                <label for="oldPass">Contraseña actual:</label>
                                <input
                                       ng-blur="comparePasswords(passCompare)" name="oldPass" type="password" class="form-control" ng-model="passCompare" id="oldPass">
                                <span ng-show="error.noCoincide == 1" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <span ng-show="error.noCoincide == 0" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label for="newPass">Nueva contraseña:</label>
                                <input type="password" ng-model="passNueva" class="form-control" id="newPass">
                            </div>
                            <div class="form-group">
                                <div class="alert alert-danger " ng-show="error.pass" role="alert">{{error.texto}}</div>
                            </div>
                            <div class="form-group">
                                <button type="button" ng-click="chagePass(passNueva)" class="btn btn-primary">Cambiar contraseñas</button>
                            </div>
                        </div>


                    </div><!--/row-->

                </div><!--/panel-body-->
            </div><!--/panel-->
        </div>
    </div>
</div>