<div class="container-fluid">
    <div class="col-md-3 col-sm-3 col-md-offset-1 container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Cuentas</h4>
                </div>
                <table class="table table-hover">
                    <tr>
                        <td>Perfil</td>
                    </tr>
                    <tr>
                        <td>Otro</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="btn btn-danger btn-xs glyphicon glyphicon-trash text-center"   aria-hidden="true"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-7 container-fluid">
        <div class="row quitarPadding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Información cuenta seleccionada
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h2>{{infoCuenta.screen_name}}</h2>
                            <p><strong>Descripción: </strong> {{infoCuenta.description}}</p>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-24 col-sm-12 text-center">
                                    <img ng-src="{{infoCuenta.profile_image_url}}"  alt="" class="center-block img-circle img-responsive">
                                </div><!--/col-->
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong> {{infoCuenta.followers_count}}</strong></h2>
                                    <p><small>Followers</small></p>
                                </div><!--/col-->
                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong>{{infoCuenta.friends_count}}</strong></h2>
                                    <p><small>Following</small></p>
                                </div><!--/col-->
                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong>{{infoCuenta.statuses_count}}</strong></h2>
                                    <p><small>Tweets</small></p>
                                </div><!--/col-->
                            </div>
                        </div>
                    </div><!--/row-->
                </div><!--/panel-body-->
            </div><!--/panel-->
        </div>
    </div>
</div>