<div ng-show="registrar" class="row">
    <form class="form-horizontal" ng-submit="register()">
        <fieldset>

            <!— Form Name —>
            <legend>Registrar</legend>

            <div class="form-group">
                <div class="alert alert-danger col-md-4 col-md-offset-4" ng-show="error.registrar" role="alert">El usuario introducido ya existe.</div>
            </div>
            <!— Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" ng-model="user.email" name="email" type="email" placeholder="email@example.com" class="form-control input-md" required>

                </div>
            </div>

            <!— Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nombre">Nombre</label>
                <div class="col-md-4">
                    <input id="nombre" ng-model="user.nombre" name="nombre" type="text" placeholder="Jon" class="form-control input-md" required>

                </div>
            </div>

            <!— Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="apellidos">Apellidos</label>
                <div class="col-md-4">
                    <input id="apellidos" ng-model="user.apellidos" name="apellidos" type="text" placeholder="Snow" class="form-control input-md" required>

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="register"></label>
                <div class="col-md-8">
                    <button id="register" name="register" class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </div>

        </fieldset>
    </form>
    <!— Button (Double) —>
    <div class="form-group">
        <label class="col-md-4 control-label" for="register"></label>
        <div class="col-md-8">
            <a ng-href="#/login" >Ya tienes una cuenta? Logueate!</a>
        </div>
    </div>
</div>
<div class="row" ng-show="!registrar">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Dato de Login</div>
            <div class="panel-body">
                <p>
                    El registro se ha completado correctamente, estos son los datos para proceder al login en la aplicación.
                    Por favor para logearte en la aplciación pinche <a ng-href="#/login">aquí</a>
                </p>
                <dl class="dl-horizontal">
                    <dt>Email</dt>
                    <dd>{{datosConexion.email}}</dd>
                    <dt>Contraseña</dt>
                    <dd>{{datosConexion.password}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>